.device.body
  = render "devise/shared/header"
  .registrations_main
    .container.head
      %h1 本人情報の登録
  .registrations_main
    .container.inner
      = form_for @address do |f|
        .group
          %h2
            郵便番号
            %span 必須
          = f.text_field :postcode, class: 'input_box', placeholder: '例)1234567', autofocus: true, id: 'postcode'
          %p.red#alart_postcode
        .group
          %h2
            都道府県
            %span 必須
          = f.select :prefecture, Prefecture.all.map { |pre| [pre.name, pre.id] },{include_blank: "--"}, class: 'input-box-select', autofocus: true, id: 'prefecture'
          %p.red#alart_prefecture
        .group
          %h2
            市区町村
            %span 必須
          = f.text_field :city, class: 'input_box', placeholder: '例)横浜市緑区', autofocus: true, id: 'city'
          %p.red#alart_city
        .group
          %h2
            番地
            %span 必須
          = f.text_field :block, class: 'input_box', placeholder: '例)青山1−1−1', autofocus: true, id: 'block'
          %p.red#alart_block
        .group
          %h2
            建物名
            %span 任意
          = f.text_field :building, class: 'input_box', placeholder: '例)柳ビル103', autofocus: true
        .group
          %h2
            電話番号
            %span 任意
          = f.text_field :phone_number, class: 'input_box', placeholder: '09000000000', autofocus: true
        = f.submit '登録する', class: 'btn red'
      .about_registrations
        %p
          = link_to "本人情報の登録について>>", "#"
  = render "devise/shared/footer"