.device.body
  = render "devise/shared/header"
  .registrations_main
    .container.head
      %h1 本人情報
  .registrations_main
    .container.inner
      .group
        %span
          郵便番号
        %h4
          = @address.postcode
      .group
        %span
          都道府県
        %h4
          = @address.prefecture
      .group
        %span
          市区町村
        %h4
          = @address.city
      .group
        %span
          番地
        %h4
          = @address.block
      .group
        %span
          建物名
        %h4
          = @address.building
      .group
        %span
          電話番号
        %h4
          = @address.phone_number
      .btn.red
        = link_to '変更する', edit_address_path
  = render "devise/shared/footer"