.main 
  .purchase
    %p.purchase__subheader
      = link_to root_path  do
        =image_tag "logo.png"
    .purchase__inner
      .purchase__inner__main
        %h1.purchase__inner__main__confirmation
          購入内容の確認
        .purchase__inner__main__item 
          =image_tag("https://static.mercdn.net/thumb/photos/m23131409920_1.jpg?1582977073", class: 'purchase__inner__main__item__image')
          %ul.purchase__inner__main__item__description
            %li.purchase__inner__main__item__description__name
              = @item.name
            %li
              %ul.purchase__inner__main__item__description__money
                %li.purchase__inner__main__item__description__money__money
                  ¥#{@item.price.to_s(:delimited)}
                %li.purchase__inner__main__item__description__money__text 
                  #{@item.delivery_charge}
        
        = form_tag("payment", method: :post) do
          .purchase__inner__main__form
            .purchase__inner__main__form__cost
              %ul.purchase__inner__main__form__cost__box
                %li.purchase__inner__main__form__cost__box__head
                  支払い金額
                %p.li.purchase__inner__main__form__cost__box__amount
                  ¥#{@item.price.to_s(:delimited)}
              %label.purchase__inner__main__form__cost__usepoint
                = check_box :point, class: 'purchase__inner__main__form__cost__usepoint__button' 
                .purchase__inner__main__form__cost__usepoint__text ポイントを使用 (所持ポイント: P 0 )

            .purchase__inner__main__form__payment
              - if @card.blank?
                %ul
                  %li.residence-title 支払い方法く
                  %li.register-button
                    = icon("fas", "plus-circle")
                    = link_to new_card_path(current_user.id) do
                      登録してください
              - else
                %ul
                  %ul.data-exists__header
                    %li.residence-title 支払い方法
                    %li.data-exists__header__modify
                      = link_to card_path(current_user.id) do
                        変更する
                %ul.residence-data
                  %li クレジットカード
                  = "**** **** **** " + @card_information.last4
                  %br
                  - exp_month = @card_information.exp_month.to_s
                  - exp_year = @card_information.exp_year.to_s.slice(2,3)
                  = "有効期限 " + exp_month + " / " + exp_year

            .purchase__inner__main__form__shipping
              %ul.data-exists__header
                %li.residence-title 配送先
                %li.data-exists__header__modify
                  = link_to edit_address_path(current_user.address.id) do
                    変更する 
              %ul.residence-data
                %li
                  〒#{current_user.address.postcode}
                %li
                  %ul.residence-data__address
                    %li.residence-data__address__item
                      = current_user.address.prefecture
                    %li.residence-data__address__item
                      = current_user.address.city
                    %li.residence-data__address__item
                      = current_user.address.block
                    %li.residence-data__address__item
                      = current_user.address.building
                %li
                  %ul.residence-data__name
                    %li.residence-data__name__item
                      = "#{current_user.last_name}  "
                    %li.residence-data__name__item
                      = "#{current_user.first_name}  "

            .purchase__inner__main__form__buy
              = submit_tag '購入する', class: 'purchase__inner__main__form__buy__button'
    .sub-footer
      .sub-footer__box
        %ul.sub-footer__box__menu
          %li.sub-footer__box__menu__privacy
            = link_to "#" do
              プライバシーポリシー
          %li.sub-footer__box__menu__kiyaku
            = link_to "#" do
              べルカリ利用規約
          %li.sub-footer__box__menu__torihiki
            = link_to "#" do
              特定商取引に関する表記
        = link_to root_path do
          %p.sub-footer__box__image
            = image_tag "logo-white.png", width: '100px', height: "auto"
        .sub-footer__box__bottom
          = "© Furima, Inc."