.wapper  
  .header_item
    = render "devise/shared/header"
  .body_item
    =form_for @item do |f|
      .item_image
        .text
          %p 出品画像
          %span 必須
        .image_box
        .item_image_paragraph
          =f.fields_for :images do |i|
            = i.label :image, class: "image-file" do
              .file-btn
                =icon("fas", "camera",class: "icon")
                %p 
                  ドラッグアンドドロップ
                  %br
                    またはクリックしてファイルをアップロード
                =i.file_field :image, class: 'file'
          - if @item.errors[:images].any?
            %p.error-message 画像がありません
        .input_item_image-new
      .item_name
        .text
          %p 商品名
          %span 必須
        .item_input_form_name
          = f.text_field :name, maxlength: '40', placeholder: "４０字まで", class: "name_field"
          -if @item.errors[:name].any?
            %p.error-message 選択してください    
      .item_description
        .text
          %p 商品の説明
          %span 必須
        =f.text_area :text, maxlength:'1000', placeholder: "商品の説明（必須 1,000文字以内（色、重さ、定価、注意点など)", class: "item-text_field"
        -if @item.errors[:text].any?
          %p.error-message 選択してください  
      .item_category
        .text
          %p カテゴリー
          %span 必須 
        .item_category_form
          = f.collection_select :category_id, @category_parent,:id,:name,{include_blank: "選択してください"},{class: "input-select",id: "parent-form"}
      -if @item.errors[:category].any?
        %p.error-message-category 選択してください       
      .item_brand
        .text
          %p ブランド
          %span.brand_text 任意
        .item_brand_form
          = f.text_field :brand, placeholder: "例  GUCCI", class: "name_field"
      .item_status
        .text
          %p 商品の状態
          %span 必須
        .item_status_form
          = f.select :item_status, [["新品、未使用", "新品、未使用"],["未使用に近い", "未使用に近い"],["目立った傷や汚れなし", "目立った傷や汚れなし"],["やや傷や汚れあり","やや傷や汚れあり"],["傷や汚れあり","傷や汚れあり"],["全体的に状態が悪い","全体的に状態が悪い"]],{include_blank: "選択してください"},class: "input-select"
          -if @item.errors[:item_status].any?
            %p.error-message 選択してください
      .item_delivery
        %p.text1 配送について
        .item_delivery_burden
          .text
            %p 配送料の負担
            %span 必須
          .item_delevery_burden_input
            =f.select :delivery_charge, [["送料込み(出品者負担)", "送料込み(出品者負担)"],["着払い(購入者負担)", "着払い(購入者負担)"]],{include_blank: "選択してください"}, class: "input-select"
            -if @item.errors[:delivery_charge].any?
              %p.error-message 選択してください
        .item_delivery_area
          .text
            %p 発送元の地域
            %span 必須
          .item_delevery_area_input
            = f.select :delivery_area, Prefecture.all.map { |pre| [pre.name, pre.id] },{include_blank: "選択してください"}, class: "input-select"
          -if @item.errors[:delivery_area].any?
            %p.error-message 選択してください
        .item_delevery_day
          .text
            %p 発送までの日数
            %span
              必須
        .item_delevery_day_input
          = f.select :delivery_days, [["1~2日で発送", "1~2日で発送"],["2~3日で発送","2~3日で発送"],["4~7日で発送","4~7日で発送"]], {include_blank: "選択してください"}, class: "input-select"
          -if @item.errors[:delivery_days].any?
            %p.error-message 選択してください       
      .item_price
        %p.text1
          価格（¥300〜9,999,999）
        .text
          %p
            販売価格
            %span 必須
        .item_price_number
          %p
            ¥
          = f.number_field :price, placeholder: "0", class: "input-form_price",id: "price-form", onKeyUp: "myFunc()"
        -if @item.errors[:price].any?
          %p.error-message-price 半角数字で300以上999999以内で入力してください
      .item_price_fee
        %p
          販売手数料(3%)
        %span#item_price_number
      .item_sell_btn
        .submit-btn
          =f.submit "出品する", class: "listing_button"
          =link_to "戻る","#"
  .footer_item 
    .send_footer
      .links
        %ul
          %li
            = link_to "プライバシーポリシー","#",class: "footer_li"
          %li
            = link_to "FURIMA利用規約","#",class: "footer_li"
          %li
            = link_to "特定商取引に関する表記","#",class: "footer_li"
      .footer__logo
        = link_to root_path do
          = image_tag "logo-white.png",class:"app_logo"
      %h3 © FURIMA
    